<?xml version="1.0"?>
<!-- 
    Nota: como alternativa para editar manualmente este archivo puede utilizar la 
    herramienta Administración de sitios Web para configurar los valores de la aplicación. Utilice
    la opción Sitio Web->Configuración de Asp.Net en Visual Studio.
    Encontrará una lista completa de valores de configuración y comentarios en 
    machine.config.comments, que se encuentra generalmente en 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="developmentMode" value="afkr73p21"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="SessionTimeout" value="2"/>
    <add key="SessionTimeoutWarning" value="2"/>
    <add key="PlantillaHtml" value="C:\Repositorios\Github\rrhh\WebAsistencia\WebRH\SiCoI\EmailTemplate.htm"/>
    <add key="PlantillaHtmlHead" value="C:\Repositorios\Github\rrhh\WebAsistencia\WebRH\SiCoI\EmailTemplateHead.htm"/>
    <add key="PlantillaHtmlBody" value="C:\Repositorios\Github\rrhh\WebAsistencia\WebRH\SiCoI\EmailTemplateBody.htm"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            La sección <authentication> permite configurar 
            el modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows"/>
    <!--
            La sección <customErrors> permite configurar 
            las acciones que se deben llevar a cabo/cuando un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:43412/WSViaticos/WSViaticos.asmx" binding="basicHttpBinding" bindingConfiguration="WSViaticosSoap" contract="WSViaticos.WSViaticosSoap" name="WSViaticosSoap"/>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="WSViaticosSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="1073741824" maxBufferPoolSize="1073741824" maxReceivedMessageSize="1073741824"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="1073741824" maxArrayLength="1073741824"
            maxBytesPerRead="1073741824" maxNameTableCharCount="1073741824" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1073741824"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>