<?xml version="1.0"?>
<configuration> 
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="pdfPrinterConfiguration" type="PdfPrinter.Core.Configuration.PdfPrinterConfiguration, PdfPrinter.Core"/>
  </configSections>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="trace.log" formatter="Text Formatter" traceOutputOptions="Timestamp, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Severity: {severity}{newline}&#xA;Message: {message}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>

  <pdfPrinterConfiguration>
    <settings
    xsltFolderPath="~/App_Data/Resources/XSLT/"
    localizationXmlFolderPath="~/App_Data/Resources/XML/"
    defaultCulture="en-US"
    defaultDateFormat="MM/dd/yyyy"
    pdfOutputFolder="~/GeneratedDocuments/"
      />
  </pdfPrinterConfiguration>

        
  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service behaviorConfiguration="PdfPrinter.WebServices.PdfPrinterServiceBehaviour" name="PdfPrinter.WebServices.Common.PdfPrinterService">
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://Schemas/PdfPrinter/WebServices" contract="PdfPrinter.WebServices.Contracts.IPdfPrinter"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="PdfPrinter.WebServices.PdfPrinterServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
