#plantillas
{
    display: none;
}
tbody tr:even
{
    background-color: '#E6E6FA';
}
tbody tr:odd
{
    background-color: '#9CB3D6';
}

.contenedor_principal_consulta_protocolo
{
    top:100px;
}

#search_box
{
    float:right; 
    margin:5px;
}

#exportar img
{
    width: 30px;    
    margin-top: -10px;
    margin-left: 5px;
}