<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
  <appSettings>
    <add key="TestTemplate" value="C:\Repositorios\Github\rrhh\WebAsistencia\WebRH\SiCoI\EmailTemplate.htm" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
