<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conexionSQL" connectionString="Data Source=MDS-1164;Initial Catalog=Viaticos_Jorge;User Id=usuario_sincro;Password=usuario_sincro;" />
  </connectionStrings>
  <appSettings>
    <add key="yaEjecutado" value="Ya se ejecutó previamente" />
    <add key="okEjecutado" value="Ejecutado Correctamente" />
    <add key="noEjecutado" value="No se ejecutó. Error: " />
    <add key="rutaTortoise" value="C:\Program Files\TortoiseSVN\bin\" />
    <add key="rutaDeScripts" value="Scripts\" />
    <add key="rutaSQLCMD" value="C:\Program Files (x86)\Microsoft SQL Server\100\Tools\Binn\" />
    <add key="actualizarRepositorio" value="NO" />
    <add key="configurado" value="NO" />
  </appSettings>
</configuration>
