GO
/****** Objeto:  Table [dbo].[SAC_Modalidad]    Fecha de la secuencia de comandos: 03/01/2013 21:06:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAC_Modalidad](
	[IdModalidad] [int] NOT NULL,
	[Descripcion] [varchar](50) 
PRIMARY KEY CLUSTERED 
(
	[IdModalidad] ASC
) ON [PRIMARY]
) ON [PRIMARY]

