/*ESTILO PARTE DE CONSULTA INDIVIDUAL*/

.buscarPersona 
{
    font-size:1.3em; 
    margin-top:30px; 
    margin-left:10px;
}

#panel_izquierdo {
    position: absolute;
    height: auto;
    width: 600px;
}
/*
#panel_derecho {
    position: absolute;
    height: auto;
    right:300px;
    width: 600px;
}*/

#panel_datos_personales {
    display: inline-block;
    width: 78%;
}
.dato_personal {
    margin: 12px;
    background-color: #FCFCFC;
    padding: 20px;
    -webkit-border-radius: 10px;
}

#foto_usuario {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    display: block;
}

.bloque_foto 
{
    display: inline-block;  
    vertical-align: top;  
}

.bloque_foto input 
{
    margin:20px;
    }


.bloque_consulta 
{
    display: inline-block;
    width: 48%;
}

.bloque_consulta_full 
{
    width: 100%;
    }

.bloque_consulta label,  .bloque_consulta_full label
{
    font-weight: bold;
    }
    
.cd-date 
{
        font-size: 1.5em !important;
    }



#vista_permisos {
    position: absolute;
    bottom: 19px;
    top: 59px;
    right: 10px;
    left: 10px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 50px;
    height:90%;
    width:100%;
    background: #e9f0f5;
    display: none;
    overflow:auto;
    opacity:0.95 !important;
}

.cd-timeline-content {
    padding: 1em !important;
}

.col-center{
  margin:0 auto;
}

/*----------*/

#plantillas
{
    display: none;
}

#contenedor_arbol_organigrama
{
    display: inline-block;
    width: 600px; 
    float: left;
    margin-left: 45px;
    background-color: #FCFCFC;
    border-radius: 0 5px 5px 5px;
    border-right: 1px solid #D5D5D5;
    }
    

    
.btn_organigrama 
 {
    position: absolute;
    /*left: 645px;*/
    height: 70px;
    top: 10px;
    background-color: #F8F8F8;
    border: 1px solid #D5D5D5;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    font-variant: small-caps;
    font-size: large;
    letter-spacing: 1px;
}



.titulo_organigrama 
{
    text-align: center;
    font-weight: 200;
    padding: 20px;
    font-variant: small-caps;
    }
    
#titulo_area 
{

}

#panel_derecho 
{
    position: absolute;
    height: 70px;
    top: 90px;
    width: 135px;
    left: 645px;
    background-color: #F8F8F8;
    border-radius: 0 5px 5px 0;
    border: 1px solid #D5D5D5;
}

.lista 
{
    list-style: none;
    font-size: 1.5em;
    color: #383838;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-variant: small-caps;
   
}
    
.lista > li
{
    margin:15px;
    cursor:pointer;
}

.lista > li > ul 
{
    margin:15px;
    font-size: 0.7em;
    cursor:pointer;
    list-style: none;
}

