/*ESTILO PARTE DE CONSULTA INDIVIDUAL*/

.buscarPersona 
{
    font-size:1.3em; 
    margin-top:30px; 
    margin-left:10px;
}

#panel_izquierdo {
    position: absolute;
    height: auto;
    width: 600px;
}
/*
#panel_derecho {
    position: absolute;
    height: auto;
    right:300px;
    width: 600px;
}*/

#panel_datos_personales {
    display: inline-block;
    width: 78%;
}
.dato_personal {
    margin: 12px;
    background-color: #FCFCFC;
    padding: 20px;
    -webkit-border-radius: 10px;
}

#foto_usuario {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    display: block;
}

.bloque_foto 
{
    display: inline-block;  
    vertical-align: top;  
}

.bloque_foto input 
{
    margin:20px;
    }


.bloque_consulta 
{
    display: inline-block;
    width: 48%;
}

.bloque_consulta_full 
{
    width: 100%;
    }

.bloque_consulta label,  .bloque_consulta_full label
{
    font-weight: bold;
    }
    
.cd-date 
{
        font-size: 1.5em !important;
    }



#vista_permisos {
    position: absolute;
    bottom: 19px;
    top: 59px;
    right: 10px;
    left: 10px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 50px;
    height:90%;
    width:100%;
    background: #e9f0f5;
    display: none;
    overflow:auto;
    opacity:0.95 !important;
}

.cd-timeline-content {
    padding: 1em !important;
}

.col-center{
  margin:0 auto;
}

/*----------*/

#plantillas
{
    display: none;
}

#contenedor_arbol_organigrama
{
    display: inline-block;
    width: 600px; 
    float: left;
    margin-left: 45px;
    background-color: #FCFCFC;
    border-radius: 0 5px 5px 5px;
    border-right: 1px solid #D5D5D5;
    }
    

    
.btn_organigrama 
 {
    position: absolute;
    /*left: 645px;*/
    height: 70px;
    top: 90px;
    background-color: #F8F8F8;
    border: 1px solid #D5D5D5;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    font-variant: small-caps;
    font-size: initial;
    width: 135px !important;
    letter-spacing: 1px;
}

.btn_consulta_individual 
{
    position: absolute;
    display: block;
    top: 10px;
    height: 70px;
    display: inline-block;
    background-color: #F8F8F8;
    border: 1px solid #D5D5D5;
    border-radius: 0 5px 5px 0 !important;
    width: 135px !important;
    left: 645px;
    font-variant: small-caps;
    letter-spacing: 1px;
    cursor: pointer;
}

.link_listado 
{
    color: #000 !important;
    text-decoration: none !important;
    font-weight: lighter !important;
    border:none !important;
    padding:0 !important;
    margin:0 !important;
}

.link_listado:hover 
{
    background:none !important;
}


.titulo_organigrama 
{
    text-align: center;
    font-weight: 200;
    padding: 20px;
    font-variant: small-caps;
    }
    
#titulo_area, #titulo_grafico 
{
       color: #999;
        font-weight: lighter;
        font-size: medium;
}

#menu_grafico 
{
    position: absolute;
    top: 170px;
    width: 135px;
    left: 645px;
    background-color: #F8F8F8;
    border-radius: 0 5px 5px 0;
    border: 1px solid #D5D5D5;
    cursor:pointer;
    z-index: 9;
   
    
}

#menu_grafico h2 
{
    font-variant: small-caps;
    font-size: initial;
    letter-spacing: 1px;
    padding: 15px 10px;
    text-align: center;
    
}

#menu_grafico h2::first-letter, .lista > li::first-letter, a.link_listado::first-letter   { 
    font-weight:lighter;
}

#menu_grafico ul {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;

}

#menu_grafico:hover ul {
    max-height: 800px;
    transition: max-height 0.25s ease-in;

}

.lista 
{
    list-style: none;
    font-size: initial;
    color: #383838;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-variant: small-caps;
   
}
    
.lista > li
{
    margin:15px;
    cursor:pointer;
    letter-spacing: 1px;
}

.lista > li > ul 
{
    margin:15px;
    font-size: 0.7em;
    cursor:pointer;
    list-style: none;
    letter-spacing: 1px;
}

.Detalle a 
{
    border:none !important;
    }
    
.lista_filtros 
{
    display:flex; 
    margin:-18px 0px 0px 11px;
    width: 563px; 
    list-style: none;
}

.lista_filtros > li  
{
    margin: 0 5px;
}

.lista_filtros > li > input  
{
    margin: 0 5px;

}

.lista_filtros > li > label  
{
    font-size: 1em;
}
   

.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
    

