USE [DB_RRHH]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].CV_Upd_CapacidadesPersonales
(
	@Id int,
	@Tipo int = null,
	@Detalle varchar(1000) = null,
	@Usuario int,
	@Baja int = null
)

AS

BEGIN

	declare @NombreSp varchar(60) 
	set @NombreSp = (select OBJECT_NAME(@@PROCID))
	exec dbo.Audit @NombreSp   

	UPDATE [dbo].[CV_CapacidadesPersonales]
	SET Tipo = ISNULL(@Tipo, Tipo),
		Detalle = ISNULL(@Detalle, Detalle),
		Usuario = @Usuario,	
		FechaOperacion = GETDATE(),
		Baja = ISNULL(@Baja, Baja)
	WHERE Id = @Id
	
END