body
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    background-color: #CCC;
}
                
img 
{
    border:none;    
}
        
.botoncitos
{
    position: absolute;
    left: 50%;
    width: 800px;
    margin-left: -400px;
    margin-top: 10px;
    border:none;
}
        
.botones
{
    position: absolute;
    left: 50%;
    width: 840px;
    margin-left: -420px;
    margin-top: 0px;
    background-color: #FFF;
}
        
.areaadminis
{
    clear: both;
    float: none;
    padding-top: 80px;
    margin-top: -30px;
}
        
.gestionar
{
    clear: both;
    margin-top: -16px;
    margin-left: 500px;
    top: 80px;
    border-style: none;
}
        
.edificio
{            
	clear: both;
	float: left;
	margin-top: 160px;
	margin-left: 160px	
}

.slicitar_modificacion
{
    clear: both;
    float: right;
    margin-top: -23px;
    border-style: none;
}   
                 
.administrar
{
    padding-left: 0px;
    clear: both;
    float: right;
    margin-top: -24px;
    margin-right: 180px;
    border-style: none;
}
        
.administrar2
{
    clear: both;
    float: right;
    margin-top: -48px;
    padding-right: 0px;
    margin-right: 180px;
    border-style: none;
}
        
.modificar2
{
    clear: both;
    float: right;
    margin-top: -46px;
    border-style: none;
}
        
.lalala
{
    clear: both;
    float: left;
    margin-left: 690px;
    margin-top: -15px;
    border-style: none;
}
        
#btn_consultar_areas
{
    float:right;
    margin-top: 4px;
}

.contenedor_principal_seleccion_areas
{
    top:100px;
}

#plantillas
{
    display: none;
}
tbody tr:even
{
    background-color: '#E6E6FA';
}
tbody tr:odd
{
    background-color: '#9CB3D6';
}
.vista_area .titulo,
.vista_area .valor
{
    display:inline-block;
}
.vista_area .titulo
{
    font-weight:bold;
}
.dialog_vista_area .ui-dialog-titlebar
{    
    background-color:#9CB3D6 !important;
    height:35px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border:1px solid black;
    background: none;
    padding:0px!important;
    margin-left:-1px!important;
    margin-right:-1px!important;
    margin-top:-1px!important;
}

.dialog_vista_area .ui-dialog-titlebar .ui-dialog-title
{
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 1);
    font-size: 19.5px;
    line-height: 36px;
    color: #333333;
    margin-left:5px;
}
.dialog_vista_area
{
    border-radius: 10px!important;    
    padding:0px!important;
    border:1px solid black !important;
    margin-bottom:20px;
}
.vista_area
{
    padding:0px!important;
    overflow: visible!important;
    background-color:#E6E6FA!important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.vista_area .contenido
{
    padding:5px;
}