html
{
background: black !important;
    }

#contenedor_controles
{
    text-align: center;
    margin-top: 10%;
}

#btn_verificar
{
    margin-top:-1% !important;
    border-radius: 2px;
    height: 30px;
    width: auto !important;
    display:inline-block;
    }
    
#txt_codigo_verificacion
{
    height: 25px;
    border-radius: 2px;
    width: 30%;
    }
    
