#contenedor_controles
{
    margin-top: 8%;
    text-align: center;
    margin-top: 20%;
}

#btn_verificar
{
    margin-top:-1% !important;
    }
    
    
           #contenedor-detalle
        {
                background: linear-gradient(to bottom, black 0%,black 50%,#000000 50%,#031427 50%,#031427 100%) !important; /* W3C */
    background: -webkit-gradient(to bottom, black 0%,black 50%,#000000 50%,#031427 50%,#031427 100%)) !important;
    background: -webkit-linear-gradient(to bottom, black 0%,black 50%,#000000 50%,#031427 50%,#031427 100%) !important;
    background: -moz-linear-gradient(to bottom, black 0%,black 50%,#000000 50%,#031427 50%,#031427 100%) !important;
    background: -o-linear-gradient(to bottom, black 0%,black 50%,#000000 50%,#031427 50%,#031427 100%) !important;
    background: -ms-linear-gradient(to bottom, black 0%,black 50%,#000000 50%,#031427 50%,#031427 100%) !important;
    background: linear-gradient(to bottom, black 0%,black 50%,#000000 50%,#031427 50%,#031427 100%) !important;
            }
        
    