html
{ 
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
    /*background-color: #031427 !important;*/
    
   /* background-image: linear-gradient(bottom, #031427 0%, #031427 40%, #000000 40%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #031427 0%, #031427 40%, #000000 40%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #031427 0%, #031427 40%, #000000 40%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #031427 0%, #031427 40%, #000000 40%, #000000 100%);
    background-image: -ms-linear-gradient(bottom,#031427 0%, #031427 40%, #000000 40%, #000000 100%);*/
    }

#contenedor_logo_dir
{
  position: absolute;
  top: 33px;
  right: 400px;
  float: right
    }
    
#contenedor_controles
{
     position: absolute;
    width: 59%;
    padding-left: 33%;
    top: 95px;
}

#btn_verificar
{
       margin-top: -0.7% !important;
    border-radius: 2px;
    height: 30px;
    width: auto !important;
    display: inline-block;
    }
    
#txt_codigo_verificacion
{
    height: 30px;
    border-radius: 2px;
    width: 30%;
    font-size: 100% !important;
    font-weight: bold;
    padding-left: 0.5%;
    }



