<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="SQLConection" connectionString="Data Source=DIOGENES\DOSK;Initial Catalog=DB_RRHH;Integrated Security=True"/>-->
    <add name="SQLConection" connectionString="Data Source=SQLTRETA;Initial Catalog=DB_RRHH;Integrated Security=True"/>
  </connectionStrings>
</configuration>