body {
    background-color:#031427;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    line-height: 18px;
    color: white;
    }

#barra_menu_contenedor {
    height: 95px;
    }

#encabezado_sin_logo {
    height: 60px;
    width: 1024px; 
    }

#barra_menu_contenedor_imagen {
    background-color:#00001c;  
    position: absolute;
    left: 50%;
	min-height: 30px;
	width: 1024px;
	margin-left: -512px;
    }

#img_logo_sistema{
    witdh: 130px;
    height: 39px;
    position: absolute;
    top: 14px;
    left:15px;
    /*float:left;*/    
    }

 #img_logo_minis {
    float:left;
    width: 150px;
    height: 27px;
    position: absolute;
    top: 17px; 
    right:70px;
    float:right;
    }

#img_logo_direccion {
    /*z-index: 2000;*/
    width: 130px;
    height: 26px;
    position: absolute;
    top: 19px; 
    right:230px;
    float:right;
    }
 
#barra_menu {
	position: absolute;
    left: 50%;
	min-height: 30px;
	width: 1024px;
	margin-left: -512px;	
	background-color: #EEE;
        }

#contenedor_imagen {
    width: 100%;
    background-color:#00001c;  
    height: 63px;
        }
    
#contenedor_barraInferior {
    width: 100%;
    background-color:rgb(25, 75, 180);
    height: 30px;
    border-top: 3px solid white;   
        }

#barra_menu_nombre_sistema
        {
    position: absolute;
    top: -5px;
    left: 187px;
    width: 265px;
    text-align: center;
    font-family: Arial;
    color:White;
    font-size:10px;
        }
        
.tabla-principal
        {
    margin-top:1%;
    margin-bottom:5%;
    font-size:1.1em;
    width:100%;
    background-color:black;
    border-radius: 10px;
        }

.celda {
    border: 3px double #000;
    padding: 3px;
    width: 20%;         
    border-radius: 10px;
        }

.celda2 {
    border: 3px double #000;
    padding: 3px;
    width: 80%;
        }

.celda-imagen {
    width: 80%;
    height: 100%;
        }

.separador {
    margin-bottom: -1%;
    margin-top: -1%;
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 10px;
        }

.titulos {
    margin-left: 0%;
    font-size:1.3em;
    font-weight: bold;
        }
    
 .imagenes {
    width: inherit !important;   /* This makes the next two lines work in IE8. */
    max-width: 31% !important;  /* Add !important if needed. */
    height: auto !important;    /* Add !important if needed. */
    margin-top: 1%;
    margin-bottom: 7%;
    margin-left: 1%;
        }
 
.contenedor-imagen-vehiculo {
    float: left;
    display:none;
        }

.Contenedor-parrafo {
        font-weight: bold;
        margin-top:5%;
        margin-bottom: 5%;
        }
        
 .parrafo {
     font-size: 1.2em !important; 
     }
/*background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fff 0%, #f8fafd 100%) repeat scroll 0 0;
    border: 1px outset #ccc;
    border-radius: 10px;*/
    
    
.contenedor-conductor {
     display: none;
     }
     
 .contenedor-banner-parrafo
 {
     display:none;
 }