#plantillas
{
    display:none;
}

#ui_buscador_de_legajos
{
    padding:5px;
}

#ui_buscador_de_legajos #input_numero
{
    margin-top:9px;
}



.documento
{
    border: 1px solid black;
}

.documento:hover
{
    border: 1px solid red;
}

.documento .titulo
{
    font-weight:bold;
}

.imagen_miniatura
{
    display:inline-block;   
    text-align:center; 
    margin:5px;
}

.imagen_miniatura #img_thumbnail
{
    display:block;    
}

.imagen_miniatura #lbl_nombre
{
    display:block;
}