#plantillas
{
    display:none;
}

#contenedor_principal_modi
{
    height:500px;
}

#ui_buscador_de_legajos
{
    padding:5px;
}

#ui_buscador_de_legajos #input_numero
{
    margin-top:9px;
    width:265px;
}

.folio
{
    display:inline-block;
    height: 90px;
    width: 90px;
    border: 1px dashed black;
    margin:5px;  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;    
}

.folio .contenedor_lbl_folio
{
    position:relative;
}

.folio #lbl_folio
{
    position:absolute;
    top: 72px;
    font-weight: bold;
    width: 90px;
    text-align: center;
}

.folio #overlay_lbl_folio
{
    position:absolute;
    top: 72px;
    background-color: gray;    
    opacity: 0.5;
    width: 90px;
    height: 18px;
    border-radius: 0px 0px 5px 5px;
}


.folio .imagen_miniatura
{
    display:block;
}

.folio_drop_hover
{
    background-color:White;
}

.vista_legajo_fila
{
    transition: all .6s;
    padding:5px 10px 5px 20px;
    cursor:pointer;    
}

.vista_legajo_fila:hover
{
    background-color:Highlight;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;    
}

.vista_legajo_fila:active
{
    background-color:Lime;     
}

.vista_legajo_fila label
{
    cursor:pointer;
    font-weight:bold;
}

.selector_legajos
{
    padding: 0px  !important;
    margin-top: 5px;
}

#ui_vista_de_resultados_de_legajos
{
    margin:10px;   
    transition: all .5s;
}

#lbl_titulo_imagenes_no_asignadas
{
    font-weight: bold;
}

#lbl_titulo_panel_documentos
{
    display: inline-block;
    font-weight: bold;
    font-size:15px;
    margin-left:5px;
}

#lbl_titulo_imagenes_documentos
{
    display: inline-block;
    font-weight: bold;
    font-size:15px;
    margin-left:294px;
}

#panel_documentos
{
    max-height: 400px;
    overflow-y: auto;
}

.placeholder_sortable
{
    display:inline-block;       
    margin:5px;  
	height: 90px;
    width: 90px;
    background-color:Highlight;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.vista_de_legajo
{
    opacity:0;
}

.vista_de_legajo #lbl_resumen_datos_personales
{
    font-size:18px;
    font-weight:bold;  
    margin-bottom:15px;  
}

#btn_nueva_busqueda
{
    float: right;    
}

.documento
{
    border: 1px solid black;
    margin:2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    transition: all .3s;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.documento:hover
{
    -webkit-box-shadow: 0 0 16px black;
    box-shadow: 0 0 16px black;
}

.documento .titulo
{
    font-weight:bold;
}

.documento #panel_datos_documento
{
    display:inline-block;
    width:29%;    
    vertical-align: top;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.documento .panel_datos_sin_categoria
{
    padding:5px;
}

.documento #panel_folios
{
    display:inline-block;
    width:70%;      
    border-left: 1px dashed black;
    margin-bottom: -4px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    list-style-type: none;
    height:99px;
}

.documento #panel_folios:hover  
{
    overflow-x:auto; 
}

.panel_de_imagenes
{      
    height: 99px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    /*transition: all .3s;*/
    list-style-type: none;
}

.panel_de_imagenes:hover  
{
    overflow-x:auto; 
}

.vista_de_legajo #panel_imagenes_no_asignadas .imagen_miniatura
{
    margin: 5px;
}

.imagen_miniatura
{
    display:inline-block;   
    text-align:center; 
	height: 90px;
    width: 90px;
    z-index:1;
}

.imagen_miniatura #img_thumbnail,
.imagen_miniatura #img_estatica
{
    display:block;    
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.imagen_miniatura #img_thumbnail:hover
{
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1);
    box-shadow: 0 0 16px rgba(66, 140, 240, 1);
}

.imagen_miniatura #lbl_nombre
{
    display:block;
}

.visualizador_imagen #contenedor_imagen
{
    height:510px;
    width:980px;  
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background-color: White;
    position: relative;
}

.visualizador_imagen #contenedor_imagen img
{   
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.visualizador_imagen #panel_folio
{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: white;
    padding: 5px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    max-height: 28px;
}

.visualizador_imagen #panel_folio label
{
    vertical-align: super;
}

.visualizador_imagen #panel_folio #txt_folio
{
    width:30px;
}

.panel_con_estatica
{
    background-image:url('imagenes/static.gif');
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow: visible;
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
    min-height: 25px;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .3);
}
 
::-webkit-scrollbar-track {
    background-color: #dddddd;
    border: solid transparent;
}
::-webkit-scrollbar-track:hover {
    background-color: #cccccc;
}
 
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.styled-select select {
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    border: 0;
    height: 100%;
    -webkit-appearance: none;
    font-weight: bold;
    color: black;
}
   
.styled-select
{
    background-color: gray;
    height: 25px;
    width: 100.7%;
    border-radius: 5px 0px 0px 0px;
}

.styled-select:hover
{
    background-color: Highlight;
}

.styled-select option
{
    color: black;
}

