#plantillas
{
    display:none;
}

#ui_buscador_de_legajos
{
    padding:5px;
}

#ui_buscador_de_legajos #input_numero
{
    margin-top:9px;
}



.documento
{
    border: 1px solid black;
}

.documento:hover
{
    border: 1px solid red;
}

.documento .titulo
{
    font-weight:bold;
}

.imagen_miniatura
{
    display:inline-block;   
    text-align:center; 
    margin:5px;    
}

.imagen_miniatura #img_thumbnail
{
    display:block;    
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.imagen_miniatura #img_thumbnail:hover
{
    -webkit-box-shadow: 0 0 16px rgba(66, 140, 240, 1);
    box-shadow: 0 0 16px rgba(66, 140, 240, 1);
}

.imagen_miniatura #lbl_nombre
{
    display:block;
}